h1{
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 50px;
    text-align: left;
    font-weight: bold;
}

.list{
    font-size: 48px;
    background-color: bisque;
    color:black;
    margin-bottom: 100px;
    height: 230px;
    width: 400px;
}

.section{
    margin-top: 20px;
    font-size: 48px;
    background-color: gray;
    color: black;
}

p{
    font-size: 40px;
    color: green;
}

body{
    background: honeydew;
}